{% extends 'base/base.html' %}
{% block body %}
<div class="container text-center">
<h1 class="text-center m-5">DETAIL Page</h1>
<p class="text-muted mb-0">Course Title</p>
<h5>{{ course_object.title|upper }}</h5>
<p class="text-muted mt-3 mb-0">Level</p>
<h5>{{ course_object.get_level_display }}</h5>
<p class="text-muted mt-3 mb-0">Assigned Employees</p>
{% for emp in object.employee.all %}
	<p class="mb-0">{{emp.name}} : {{emp.division}}</p>
{% endfor %}
<a href="{% url 'course_update' object.pk %}" class="btn btn-warning m-3"> Update </a>
<a href="{% url 'course_delete' object.pk %}" class="btn btn-danger m-3"> Delete </a>
</div>
{% endblock %}